{% extends 'index_base.html' %}

{% block content %}

<head>
  <link rel="stylesheet" href="../../static/css/lapis_styles.css">
</head>
  <div class="container" style="width: 74%;">

    <h3 style="text-align: center;"> UPLOAD CONCEPT ID </h3>
                  {% if message[0] %}
                          <p class="positive_message">{{ message[1] }} </p>
                          <br/>
                    {% elif message[0]==False %}
                        <p class="negative_message">{{ message[1] }} </p>
                        <br/>
                    {% else %}
                      <br/>
                      <br/>
                    {% endif %}

                    <br/>

      <form class="form" action="{{ url_for('lapis_concept_id_upload')}}" method="POST" enctype = "multipart/form-data">
      
        <br/>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label" style="margin-left: 10px;"> Upload File</label>
          <input class="form-control" type="file" id="formFileMultiple" name="input_file" accept=".csv,.xlsx" required>
          <br/>
         </div>
      
      
         <p style="margin-left: 10px;">
            Input format: <a href="{{ url_for('download_conceptId_sample_file')}}" type="text/csv" style="text-decoration: underline;" download> download sample format</a>
         </p>
  
         <br/>
        
        <div  style="width: 98%; margin-left:10px">
        <div class="table-responsive-sm">          
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Concept ID</th>
                <th>Concept Name</th>
                <th>Topic Name</th>
                <th>Section Name</th>
                <th>Chapter Tag</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>104</td>
                <td>Members of the solar system </td>
                <td>solar system </td>
                <td>Natural phenomena</td>
                <td>C8S17</td>
              </tr>
              <tr>
                <td>105</td>
                <td>coal products</td>
                <td>Story and products of coal</td>
                <td>Natural resources</td>
                <td>C8S05</td>
              </tr>
              <!-- <tr>
                <td>104</td>
                <td>3</td>
                <td>C6SDT3</td>
                <td>a</td>
                <td>science</td>
              </tr> -->
            </tbody>
          </table>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-10"></div>
           <div class="col-2">
              <input class="submit-button btn btn-success" type="submit" value="upload" name="submit_target">
           </div>
       </div>
  
    
    </form>
   
       </div>


{% endblock content %}