{% extends 'index_base.html' %}

{% block content %}
<head>

  <style>
    .submit-button{
        background-color: rgba(14, 161, 14, 0.849);
        box-shadow: 0px 0px 12px 2px silver;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    </style>
    
</head>


    <div class="container" style="width: 74%;">
      <h3 style="text-align: center;"> PREVIEW </h3>
      <br/>
        
        {% if school_data %}

                <form class="form" action="{{ url_for('school_data')}}" method="POST" enctype = "multipart/form-data">
                  
                    <div class="input-group mb-3 input-group-md form-input">
                        <div class="input-group-prepend">
                          <span class="input-group-text">School code</span>
                        </div>
                        <input class="form-control" id="input_data" type="number" value="{{ school_data['school_code']}}" placeholder="Enter School code (ex:112121)" name="school_code" pattern= "[0-9]"  title= "Enter only numbers"  required>
                    </div>
              
                    <div class="input-group mb-3 input-group-md">
                        <div class="input-group-prepend">
                          <span class="input-group-text">School Name</span>
                        </div>
                        <input class="form-control" type="text" id="input_data" value="{{ school_data['school_name']}}" placeholder="Enter school name" name="school_name"  pattern= "[A-Za-z ]{2,}"  title= "Name should contain only alphabets  and atleast 2 letters" required>
                    </div>
              
                    <div class="input-group mb-3 input-group-md">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Date of joining</span>
                        </div>
                      <input class="form-control"  id="input_data" type="date" value="{{ school_data['date_of_joing']}}"  name="date_of_joing"  required>
                    </div>

                    <div class="input-group mb-3 input-group-md">
                      <div class="input-group-prepend">
                        <span class="input-group-text">School tag</span>
                      </div>
                      <input class="form-control" type="text" id="input_data"   value="{{ school_data['school_tag']}}" placeholder="Enter School Tag (Ex: LPS )" name="school_tag" pattern="[A-Za-z]{3}" title="Only Three letter allowed " required>
                    </div>
              
                    <div class="input-group mb-3 input-group-md">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Academic year start date</span>
                      </div>
                      <input class="form-control" type="date" id="input_data" value="{{ school_data['academic_year_start']}}" id="formFileMultiple" name="academic_year_start"  required>
                    </div>
                  
                    <div class="input-group mb-3 input-group-md">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Academic year end date</span>
                      </div>
                      <input class="form-control" type="date" id="input_data" value="{{ school_data['academic_year_end']}}" id="formFileMultiple" name="academic_year_end"  required>
                    </div>
                    <br/>
                  <div class="row">
                    <div class="col-10"></div>
                      <div class="col-2">
                          <input class="submit-button btn btn-success" type="submit" name="submit_target" value="upload">
                      </div>
              
                  </div>
                </form>
      {% endif %}
   </div>
    

{% endblock content %}
